.card .card-header.manual{
    padding-bottom: 0;
}

.sidebar-wrapper .menu{
    padding: 1rem 0.8rem;
}

#main.home{
    margin-left:0;
}

.card-content.home{
    font-size:1.5em;
}

.page-content img{
    max-width: 100% !important;
    height:auto;
}

.container.luna{
    width:100% !important;
}

.nochild{
    margin: 1em 0;
}

@media (max-width: 991px){
    #main.luna{
        padding: 2rem 0 ;
    }

    .container.luna{
        max-width: 95% !important;
        margin: 0 auto;
        padding: 0.5rem;
    }
}
